* {
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #F0B722;
}

.container-box {
    display: flex;
    
}

.left1 {
    margin: 80px;
    background-color: #D9D9D9;
    padding: 50px;
    border-radius: 30px;


    h3 {
        margin-bottom: 12px;
        
    }

    p {
        padding-left: 50px;
        padding-top: 15px;
        text-align: justify;
    }
}

.left2 {
    margin: 80px;
    background-color: #D9D9D9;
    padding: 50px;
    border-radius: 30px;


    h3 {
        margin-bottom: 12px;
        
    }

    p {
        padding-left: 50px;
        padding-top: 15px;
        text-align: justify;
    }
}

.left3 {
    margin: 80px;
    background-color: #D9D9D9;
    padding: 50px;
    border-radius: 30px;


    h3 {
        margin-bottom: 12px;
        
    }   

    p {
        padding-left: 50px;
        padding-top: 15px;
    }
}

.left1:hover{
    margin: 90px;
    transform: scale();
}


.boxRigh {

}

img{
    cursor: pointer;
    padding-top: 50px;
}