* {
    font-family: "Moul", serif;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "League Gothic", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0B722;
}

#foto {
    float: left;
    height: 100vh;
    position: fixed;



}

#container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura total da tela */
    width: 100vw; /* Largura total da tela */
    overflow-x: hidden; /* Evita rolagem horizontal */
    overflow-y: hidden;
}

#container .txt p {
    position: fixed;
    top: 50%;
    left: 60%; /* Ajuste essa distância para alinhar melhor */
    transform: translateY(-50%);
    
    width: 40%; /* opcional para limitar o tamanho do texto */
    text-align: left;

}

#container .rosto {
    border-radius: 50%;
    width: 200px;
    height: 200px;

    position: fixed;
    top: 55%;
    left: 200px;
    transform: translateY(-50%);



}

#container .seta {
    width: 50px;
    height: 50px;
    /* Ajuste o tamanho da seta conforme necessário */

    position: fixed;
    top: 50%;
    left: 120px;
    transform: translate(-50%);

    cursor: pointer;

}